{$COOKIE_SYNC_DOMAIN} {
  encode zstd gzip

  request_body {
    max_size 2MB
  }

  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
  }

  reverse_proxy cookie-sync:8765
}
